<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Fumihito Umekita", "https://slack-fumihito-3z7ivf0ab.vercel.app/",class:"text-white" %></small>
    </div>
</footer>